@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Monoton&family=Nosifer&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/* default css rule sets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* smooth scrollings */
html {
  scroll-behavior: smooth;
}
/* genral colors */
:root {
  --body-color: #ececec;
  --primary-pink: #ff2281;
  --faded--link: #5e5e5e;
  --box-grey: #9a9a9a; /*a bit transparent on the boxes*/
  --btn-dark-blue: #1f3baf;
  --light-blue: #0085ff;
  --default-black: #000;
  --default-white: #ffffff;
}

body {
  background-color: var(--body-color);
  color: var(--default-black);
  font-size: 10pt;
  font-family: "inter", sans-serif;
  font-weight: 400;
  user-select: none;
  position: relative;
}

a {
  text-decoration: none;
}

.container {
  width: 95.5%;
  max-width: 1300px;
  margin: auto;
}

/* styling for top navigation area */
.header-section {
  border-bottom: 2px groove var(--primary-pink);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin: auto;
  max-width: 90vw;
  overflow: hidden;
}

.notifications a,
.cart a {
  width: 40px;
  display: flex;
  align-items: center;
  height: 40px;
}

.notifications img {
  width: 120px;
  height: 27px;
}

.logo img {
  width: 155px;
  height: 50px;
}

.cart {
  position: relative;
}

.cart img {
  width: 140px;
  height: 40px;
}

.cart.incart::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgb(195, 0, 0);
  display: block;
  border-radius: 50%;
  position: absolute;
  right: 40%;
  top: 9px;
  z-index: -1;
}

/* styling for top nav end */

/* styling hero */
.hero-section {
  margin-top: 1.55rem;
}

.slider {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.slides {
  width: 100vw;
  max-width: 1300px;
  height: inherit;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 100vw;
  max-width: 1300px;
  height: 220px;
  object-fit: cover;
  transition: 1.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 100vw;
  max-width: 1300px;
  object-fit: cover;
  height: 220px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -100%;
}

#radio3:checked ~ .first {
  margin-left: -200%;
}

.navigation-manual {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual-btn {
  border: 2px solid var(--default-white);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  height: 10px;
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

.manual-btn:hover {
  background: var(--default-white);
}

.navigation-auto {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-auto div {
  border: 2px solid var(--default-white);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  height: 10px;
}

.navigation-auto div:not(:last-child) {
  margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: white;
}

/* main section start */
.popular-cosmetics-flex {
  display: flex;
  color: var(--default-black);
  justify-content: space-between;
  padding: 2em 1em 0;
}

.popular-cosmetics-flex a {
  color: var(--faded--link);
  font-weight: 600;
}

/* scroll items */
.box-item .img img {
  height: auto;
  width: 53px;
  position: absolute;
  top: -40%;
  right: 0px;
  transform: rotate(20deg);
}

.img.edge-silk img {
  width: 78px;
  height: 75px;
  top: -25%;
}

.box-item {
  background: var(--box-grey);
  margin: 1rem 1rem;
  position: relative;
  width: 90vw;
  max-width: 29em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
  height: auto;
  padding: 1.5rem 2rem 2rem 1rem;
  line-height: 190%;
  box-shadow: 3px 3px 7px 1px var(--faded--link);
  border-radius: 10px;
}

.brief-text h4 {
  color: var(--primary-pink);
  font-size: 15px;
}

.over-flow-hide {
  margin: 10px auto;
  padding-top: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
}

.flexed-scroll {
  overflow: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexed-scroll::-webkit-scrollbar {
  background-color: var(--default-white);
  height: 3px;
}

.flexed-scroll::-webkit-scrollbar-thumb {
  background: var(--primary-pink);
}

/* features section */

.featuresHeading {
  padding: 2em 1em;
  margin: 1rem 0;
}

.featuresBoxes {
  padding: 1rem 2rem;
  border: 1px solid;
  font-size: 10pt;
  line-height: 190%;
  margin: 2rem 0;
  border-radius: 10px;
  color: var(--default-white);
}

.featuresBoxes h4 {
  margin: 0.5rem 0;
}

.featuresBoxes.box1 {
  background: url("./images/Dark\ wavy\ hair.png");
  background-size: 100% 100%;
}
.featuresBoxes.box2 {
  background: url("./images/Beauty\ skin\ magic.png");
  background-size: 100% 100%;
}
.featuresBoxes.box3 {
  background: url("./images/Best\ foaming\ mousse.png");
  background-size: 100% 100%;
}
.featuresBoxes.box4 {
  background: url("./images/Men\ cologne.png");
  background-size: 100% 100%;
}

/* super ego 3d perfume */

.topNew {
  background: var(--default-black);
  color: var(--default-white);
  position: relative;
  height: 18em;
  padding: 1.5em 0.5rem;
  overflow: hidden;
}

.perfumeAndShop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10pt;
}

.shoplink {
  margin-bottom: 8rem;
  line-height: 200%;
  margin-left: 1.5rem;
}

.shoplink p {
  margin: 0.5rem 0;
}

button.shopLink {
  background: var(--btn-dark-blue);
  border-radius: 8px;
  border: none;
}

.shoplink a {
  color: var(--default-white);
  display: block;
  padding: 0.7rem 2rem;
  font-weight: 600;
}

.perfume img {
  animation: bounce 0.9s linear infinite;
  transition: 0.9s ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* top categories */

.topCategoriesh4,
.LUAC {
  padding: 2em 1em 30px;
}

.categoriesItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem 1rem;
  padding: 2rem 0;
}

.cat-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* client reviews */

.clientReviews {
  background: var(--box-grey);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 2px 2px 3px 3px var(--faded--link);
}
.swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.commentBox {
  padding: 0 20px;
}

/* form submission */

.leaveComment {
  padding: 1rem;
  background: var(--default-white);
}

.innerLeaveComment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#my-form-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#my-form input {
  display: block;
  width: 80vw;
  height: 30px;
  max-width: 500px;
  margin: 1rem 0;
  border: none;
  outline: none;
  border-bottom: 1.5px solid var(--faded--link);
  padding: 0 1rem;
  transition: all 0.4s;
}

#my-form input:focus {
  outline: none;
  border-bottom: 1.5px solid var(--primary-pink);
  border-radius: 5px;
}

#my-form button {
  background-color: var(--primary-pink);
  border: none;
  outline: none;
  color: var(--default-white);
  padding: 0.6rem 1.2rem;
  width: 80vw;
  margin-top: 1.5rem;
  max-width: 500px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
}

#btnRemove {
  animation: scaling 0.8s linear infinite;
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

#my-form-status {
  color: var(--primary-pink);
  font-size: initial;
  letter-spacing: 3px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* navigation to pages */
.bottomNav {
  background: var(--primary-pink);
  padding: 0.3rem;
  border-radius: 40px 40px 0 0;
  position: fixed;
  width: 99vw;
  max-width: 800px;
  margin: 0 auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.linkBox img {
  width: 2.8em;
  height: 1.8rem;
}

.linkBox a {
  color: var(--default-white);
  text-align: center;
}

.innerPink {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.callus {
  background: var(--light-blue);
  border: 1px solid;
  padding: 0.9rem;
  height: 4rem;
  margin: auto;
  width: 4rem;
  display: flex;
  border: 6px solid var(--default-white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: -80%;
  margin-left: 10%;
}

.callus img {
  transform: rotate(-8deg);
  transform-origin: center;
}

/* subscribe our letter */
.subscribeBox {
  background: var(--light-blue);
  color: var(--default-white);
  width: 90%;
  max-width: 600px;
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
}

.topMsg {
  margin: 0 0 50px;
}

.inputandsubmit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: -1px;
  margin: auto;
}

.inputandsubmit input,
.inputandsubmit button {
  padding: 0.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.inputandsubmit input {
  border-radius: 20px 0 0 20px;
}

.inputandsubmit button {
  border-radius: 0px 20px 20px 0px;
  font-weight: 600;
}

.inputandsubmit button:active,
.inputandsubmit button:hover {
  color: var(--default-white);
  background: var(--default-black);
}

/* footer setiom */
footer {
  background: var(--default-black);
  color: var(--default-white);
  padding: 2rem 1rem 8em;
  line-height: 200%;
}

footer a {
  color: var(--default-white);
}

.socialLinks {
  display: flex;
  margin: 10px 5px;
}

.socialLinks div {
  margin: 15px 10px;
}

.socialAndcopyright {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* overlay intro\
 */

#overLay {
  background: url("./images/SOREAL\ OPENING\ BACKGROUND\ illustrator\ copy.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  padding: 8%;
  padding-bottom: +60px;
  max-width: 800px;
  top: 0;
  left: 0;
  z-index: 10;
  font-family: "Courgette", cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.6s ease;
}

#overLay p {
  font-size: 25pt;
  line-height: 150%;
  font-weight: 600;
  color: var(--default-white);
  text-shadow: 4px 4px 4px var(--primary-pink);
  margin: 50px 10px;
}

.btnRemove button {
  background: var(--primary-pink);
  color: var(--default-white);
  width: 100%;
  border: none;
  padding: 1rem;
  margin: 20px 0 0;
  border-radius: 8px;
  font-size: 15pt;
  font-weight: 566;
  letter-spacing: 1px;
  cursor: pointer;
}

/* js adding and removing */
.gone {
  opacity: 0;
  display: none;
}

.appear {
  opacity: 1;
  display: block;
}

header,
main,
footer {
  display: none;
}

/* media query */
@media screen and (min-width: 1200px) {
  .btnRemove button {
    max-width: 400px;
  }

  .btnRemove {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .welcomeText {
    height: 100px;
  }

  #overLay p {
    font-size: 4em;
  }

  .btnRemove {
    height: 100vh;
    background: black;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -10;
    width: calc(100vw - 800px);
  }

  .welcomeText {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
}